.TopNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    flex-shrink: 0;
    background-color: #E6E6FA;
}
  
.TopNav > h1 {
    cursor: pointer;
    color: #757580;
}

.TopNav > h1 > a,
.TopNav .logout-header > a,
.TopNav .register-login-header > a {
    color: #757580;
}

.TopNav .logout-header,
.TopNav .register-login-header {
    font-weight: 700;
}

.TopNav .register-login-header {
    display: flex;
    justify-content: space-between;
    width: 130px;
}

