* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 150%;
}

main {
  padding: 80px 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*
.video-container {
  min-width: 100%; 
  min-height: 100%; 

  
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
*/

.calm-bg-video {
  position: absolute; 
 top: 0px;
 left: 0px;
 width: 100%;
 height: 100%;
 z-index: -1;
}
