.journal {
    display: flex;
    flex-direction: column;
    background-color: grey;
    margin: 5px 15px;
    padding: 10px;
}
  
.journal > .controller {
      display: flex;
      justify-content: space-between;
      margin-top: 5%;
}
  
.journal > .controller > button {
      font-size: 1em;
}

@media screen and (max-width: 400px) {
      .journal > .controller > .date-created {
          font-size: 14px;
          margin-right: 2px;
      }
  }
  
@media screen and (min-width: 700px) {
      .journal {
            width: 60%;
      }
}