.DateCategory > .category {
      background-color: #B0C4DE;
      font-size: 1em;
      margin-bottom: 5px;
      padding: 5px 10px;
      text-align: center; 
}

.DateCategory > .category > h4 > a {
      color: white;
}

.DateCategory > .category > h4 > a:hover {
      color: blue;
}