.JournalHome {
    display: grid;
    grid-template: "header header" "categories journals";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 60px 1fr;
}

.JournalHome header {
    grid-area: header;
    text-align: center;
    margin: 10px;
}

.JournalHome > header > h3 > a {
    color: white;
}

.JournalHome .categories-nav {
    grid-area: categories;
    margin: 10px auto;
    padding: 5px 10px;
}

.JournalHome .journals {
    grid-area: journals;
    margin: 10px;
}